
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="pt-2">Bienvenido a la vista de administrador, en este panel podrás agregar más adiministradores, agregar y eliminar marcas, productos y tipos de articulos</h4>
